env

__pycache__/
*.py[cod]
*.pyo
venv/
.env
*.egg-info/

# Django
db.sqlite3
*.log
staticfiles/
migrations/*
!migrations/__init__.py
__pycache__

media/*
!media/.gitkeep

# Node
node_modules/
dist/
.vite/

# OS
.DS_Store
Thumbs.db

ward_credentials.csv